#Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile

**/Debug/
**/[Rr]elease/
SortingAlgorithm/[Dd]ebug/
SortingAlgorithm/[Rr]elease/
SortingAlgorithm/Sorting Console Application/[Dd]ebug/
SortingAlgorithm/Sorting Console Application/[Rr]elease/
SortingAlgorithm/SortingAlgorithm/[Dd]ebug/
SortingAlgorithm/SortingAlgorithm/[Rr]elease/
